<div layout="column" layout-fill>
  <section layout="row" flex>

	<!-- NAV BAR -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$media('gt-md')">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Menu de navigation</h1>
      </md-toolbar>
      <md-content  ng-controller="LeftController">
        <md-button ng-click="close()" class="md-primary" hide-gt-md>
          Fermer le menu de navigation
        </md-button>
        <p hide-md show-gt-md layout="column">
          <md-button href="#/unites">unités</md-button>
          <md-button href="#/deconnexion">se déconnecter</md-button>
        </p>
      </md-content>
    </md-sidenav>
    <!-- END NAV BAR -->

    <!-- CONTENT LIST -->
    <md-content flex>
		<md-list>
			<md-item ng-repeat="room in rooms" class="list">
				<md-toolbar md-scroll-shrink>
					<h1 class="md-toolbar-tools">
						<span layout-align="center center"> Chambre {{room.nomRoom}}</span>
					</h1>
				</md-toolbar>
				<md-item-content class='animate'>
					<div class="md-tile-left">
						<img ng-src="{{room.photo_url1}}"  class="face" alt="{{room.patient1}} photo">
					</div>
					<div class="md-tile-content">
						<p>
							<md-button href="#/interventions/patient/{{room.patient1ID}}"> {{room.patient1}} </md-button>
						</p>
					</div>
				</md-item-content>
				<md-divider inset></md-divider>
				<md-item-content class='animate'>
					<div class="md-tile-left">
						<img ng-src="{{room.photo_url2}}"  class="face" alt="{{room.patient2}} photo">
					</div>
					<div class="md-tile-content">
						<p>
							<md-button href="#/interventions/patient/{{room.patient2ID}}"> {{room.patient2}} </md-button>
						</p>
					</div>
				</md-item-content>
			</md-item>
		</md-list>
    </md-content>
    <!-- END CONTENT LIST -->

  </section>
</div>